doctype html
html(lang="en")
  head
    title joanchou
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="style.css")
  body
    .contentWrapper
      include content
    include footer
