body {
  margin: 0;
  position: absolute;
  left:  0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #edf2c5;
}
* {
  font-family: 'Roboto', sans-serif;
}
.contentWrapper {
	display: flex;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 60px;
    top: 0px;
    overflow: auto;;
}
.content {
  margin: 36px auto 0 auto;
  width: 940px;
}
.titleWrapper {
	display: flex;
	position: relative;
	margin-bottom: 5px;
}
.title {
	font-size: 44px;
	color: #778a50;
	font-weight: bold;
}
.buttonsWrapper {
	position: absolute;
	right: 0px;
	top: 0px;
	display: flex;
	height: 100%;
}
.buttons{
    margin: auto 0;
    display: flex;
}
.buttons > img {
	width: 25px;
	height: 25px;
}
.buttons > button {
	width: 60px;
    height: 25px;
    border: solid 1px #778a50;
    background: none;
    border-radius: 1px;
    color: #778a50;
    font-weight: bold;
    font-size: 14px;
}
.buttons > * {
	margin: 0 4px;
}
.divider{
	width: 1px;
    height: 25px;
    background: #778a50;
}
.menu{
	display: flex;
	background-color: #778a50;
	height: 44px;
	border-radius: 3px;
}
.menuitem{
	
    color: #edf2c5;
    font-size: 16px;
    font-weight: 900;
    /*line-height: 2.25;*/
    margin: auto 30px;
}

.img {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
}
.img > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.container .img {
	display: flex;
}
.container .img img {
	padding: 0 6px;
}
.container .img img:first-child {
	padding-left: 0;
}
.container .img img:last-child {
	padding-right: 0;
}
.hlayout {
	display: flex;
	height: 144px;
}
.container {
	width: 50%;
	height: 100%;
}
.hlayout .container:first-child {
	padding-right: 26px;
}
.hlayout .container:last-child {
	padding-left: 26px;
}
.hdivider{
	width: 100%;
	height: 1px;
	background: #778a50;
	margin: 12px 0;
}
.contactWrapper{    
	margin-top: 20px;
    margin-bottom: 30px;
    height: 100%;
	background-color: #f7fbda;

}
.contact {
	padding: 15px;
	color: #7d7d7d;
	font-size: 12px;
	border-radius: 3px;
}
.info {
	margin-bottom: 4px;
}
.footer {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 60px;
    background-color: #778a50;
    display: flex;
}
.footer div {
	margin: auto;
	color: #edf2c5;
	font-size: 12px;
}